<footer>
    
  <div class="footer-elem">
   <div>
      <a routerLink="/about" routerLinkActive="active">About us</a>
      <span>Company</span>
   </div>
   <div>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
      <span>Viber:+3800000000</span>
      <span>Telegram:+3800000000</span>
      <span>Phone:+3800000000</span>
   </div>
   <div>
      <a routerLink="/search" routerLinkActive="active">Search</a>
      <span>Hot Tours</span>
      <span>Discount</span>
      <span>Popular tour</span>
   </div>
  </div>
   <img src="../../assets/images/logo.png"/>
</footer>
