<div class="contact-cont">
  <div class="contact-cont-cont">
    <div>
      <img src="../../assets/images/telegram.png" alt="img"/>
      <span>@grand_tour</span>
    </div>
    <div>
      <img src="../../assets/images/instagram.png" alt="img"/>
      <span>@grand_tour</span>
    </div>
    <div>
      <img src="../../assets/images/messenger.png" alt="img"/>
      <span>@grand_tour</span>
    </div>
  </div>
  
  <div class="contact-message">
    <h3>Write a review</h3>
    <textarea></textarea>
    <button>Send</button>
  </div>
</div>
