<header>
    <div>
        <img src="../../assets/images/logo.png" alt="logo">
        <h1>Grand Tourismo</h1>
    </div>
    <div>
        <ul>
            <li>
                <a routerLink="/about" routerLinkActive="active">About us</a>
            </li>
            <li>
                <a routerLink="/contact" routerLinkActive="active">Contact</a>
            </li>
            <li>
                <a routerLink="/search" routerLinkActive="active">Search</a>
            </li>
        </ul>
    </div>
   
</header>

